@import '@fontsource/roboto/scss/mixins';

$weights: (100, 300, 400, 500, 700, 900);

@each $weight in $weights {
  @include fontFaceCustom($fontName, $fontId, $style, $display, #{$weight})
}

@include fontFaceCustom('Roboto Thin', $fontId, $style, $display, 100)
@include fontFaceCustom('Roboto Light', $fontId, $style, $display, 300)
@include fontFaceCustom('Roboto Regular', $fontId, $style, $display, 400)
@include fontFaceCustom('Roboto Medium', $fontId, $style, $display, 500)
@include fontFaceCustom('Roboto Bold', $fontId, $style, $display, 700)
@include fontFaceCustom('Roboto Black', $fontId, $style, $display, 900)

$font-roboto-thin: "Roboto Thin","Helvetica","Arial",sans-serif;
$font-roboto-light: "Roboto Light","Helvetica","Arial",sans-serif;
$font-roboto-regular: "Roboto Regular","Helvetica","Arial",sans-serif;
$font-roboto-medium: "Roboto Medium","Helvetica","Arial",sans-serif;
$font-roboto-bold: "Roboto Bold","Helvetica","Arial",sans-serif;
$font-roboto-black: "Roboto Black","Helvetica","Arial",sans-serif;
