@import '@fontsource/inter/scss/mixins';

$weightVars: (300, 400, 500, 700);

@each $weightVar in $weightVars {
  @include fontFaceCustom($fontName, $fontId, $style, $display, #{$weightVar})
}

@mixin fontLight {
  font-family: $fontName, "Helvetica","Arial",sans-serif;
  font-weight: 300;
}

@mixin fontRegular {
  font-family: $fontName, "Helvetica","Arial",sans-serif;
  font-weight: 400;
}

@mixin fontMedium {
  font-family: $fontName, "Helvetica","Arial",sans-serif;
  font-weight: 500;
}

@mixin fontBold {
  font-family: $fontName, "Helvetica","Arial",sans-serif;
  font-weight: 700;
}


.font-light {
  @include fontLight;
}

.font-regular {
  @include fontRegular;
}

.font-medium {
  @include fontMedium;
}

.font-bold {
  @include fontBold;
}
